@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';
@import './variables/theme.pcss';
@import './syntax/variables.pcss';
@import './utilities/prose.pcss';

@layer base {
	a:focus-visible,
	a:focus {
		outline: none;
		@apply ring-2 ring-offset-2 ring-offset-canvas;
	}
}

@layer utilities {
	.highlight-white\/5 {
		box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 5%);
	}

	.optimize-legibility {
		text-rendering: optimizeLegibility;
	}
}
